.layout{
    display: flex;
    flex-direction: column;
}

.logo{
    position: relative;
    width: 90%;
    top: -70px;
}

.AllLogo{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: nowrap;
    align-content: center;
}

.content{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    top: 5cm;
}

.text{
    color: black;
}

.frombox{
    position: relative;
    border-left: 2px solid #c4996c;
    height: 13cm;
    left: 50px;
}

.formz{
    display: flex;
    flex-direction: column;
    margin: -100px;
    padding: 0;
    border: 2px solid black;
    position: relative;
    top: 4cm;
    left: 6cm;
    border-radius: 45px;
    height: 10cm;
    width: 10cm;
}
/* 
.btn-outline-dark:hover {
    background-color: #8d38c9;
} */

.borderbottom{
    position: relative;
    border-top: 2px solid #c4996c;
    top: 430px;
    text-align: right;
    color: #8d38c9;
    font-size: 20px;
    width: 100vw;
    margin: 0;
    padding: 0;
}



.logout{
    position: relative;
    text-align: center;

}
/* .fon{
    position: relative;
    color: #8d38c9;
    font-size: 20px;
} */